Loading required dependancies (pandas and matplotlib)

In [212]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

store the data locally whilst filtering out the irrelivent data

In [213]:

data_frame = pd.read_csv("rb_ranks_1.csv")

# Filter rows where 'cls' is "Ground_vehicles"
Filtered_df = data_frame[
    (data_frame['cls'] == "Ground_vehicles") &
    (data_frame['rb_ground_frags_per_battle'] > 0) &
    (data_frame['rb_ground_frags_per_death'] > 0) 
    ]
Filtered_df = Filtered_df[Filtered_df['rb_ground_frags_per_battle'] > 0]
# Ensure the 'date' column is in datetime format
Filtered_df['date'] = pd.to_datetime(Filtered_df['date'])

# Define the specific start date
start_date = pd.Timestamp('2025-01-01')  # Replace '2025-01-01' with your desired date

# Filter the DataFrame to include only rows since the specific date
Filtered_df = Filtered_df[Filtered_df['date'] >= start_date]

find any null values

In [214]:
print(Filtered_df['rb_ground_frags_per_battle'].value_counts())

rb_ground_frags_per_battle
2.020000    6
1.700000    6
1.750000    6
2.295558    4
2.006024    4
           ..
3.668176    1
4.002700    1
3.968514    1
3.551296    1
6.132461    1
Name: count, Length: 8498, dtype: int64

In [215]:
Filtered_df.isnull().sum()

nation                        0
cls                           0
date                          0
rb_br                         0
rb_lower_br                   0
rb_battles_sum                0
rb_battles_mean               0
rb_win_rate                   0
rb_air_frags_per_battle       0
rb_air_frags_per_death        0
rb_ground_frags_per_battle    0
rb_ground_frags_per_death     0
dtype: int64

find outliers

In [216]:
print(Filtered_df['rb_win_rate'].describe())
Q1 = Filtered_df['rb_win_rate'].quantile(0.25)
Q3 = Filtered_df['rb_win_rate'].quantile(0.75)
IQR = Q3 - Q1
print(f'Outliers are a rb_win_rate above {Q3 + IQR * 1.5} or below {Q1 - IQR * 1.5}')

count    9096.000000
mean       56.432147
std        10.183748
min         0.000000
25%        51.110659
50%        58.016693
75%        62.799117
max        84.942631
Name: rb_win_rate, dtype: float64
Outliers are a rb_win_rate above 80.33180402127637 or below 33.577972496671734

scales the winrate from 0-100 to 0-1

In [217]:
scale_feature = 'rb_win_rate'


Filtered_df [scale_feature] = [X / 100 for X in Filtered_df[scale_feature]]

Filtered_df.describe()

,date,rb_lower_br,rb_battles_sum,rb_battles_mean,rb_win_rate,rb_air_frags_per_battle,rb_air_frags_per_death,rb_ground_frags_per_battle,rb_ground_frags_per_death
count,9096,9096.000000,9096.000000,9096.000000,9096.000000,9096.000000,9096.000000,9096.000000,9096.000000
mean,2025-02-14 19:59:12.506596352,6.656629,8941.572230,940.909538,0.564321,0.081292,0.082280,2.620742,2.077140
min,2025-01-03 00:00:00,1.000000,42.000000,5.400000,0.000000,0.000000,0.000000,0.041958,0.435484
25%,2025-01-21 00:00:00,4.000000,1909.000000,249.038733,0.511107,0.016784,0.016169,1.927726,1.661151
50%,2025-02-11 00:00:00,6.700000,4968.000000,599.992389,0.580167,0.069841,0.067517,2.411957,2.002651
75%,2025-03-10 00:00:00,9.300000,11764.000000,1110.226207,0.627991,0.119100,0.126843,3.123696,2.436410
max,2025-03-31 00:00:00,12.000000,62213.000000,11051.000000,0.849426,0.738555,0.568807,18.562222,4.963773
std,NaN,3.230786,10399.018281,1174.008139,0.101837,0.077925,0.077182,1.185817,0.595568

Convert the 'date' column to datetime format
Find the minimum and maximum dates
Convert dates to numeric values
Scale the 'date_numeric' column to a range of 0-1

In [218]:
Filtered_df.describe()

,date,rb_lower_br,rb_battles_sum,rb_battles_mean,rb_win_rate,rb_air_frags_per_battle,rb_air_frags_per_death,rb_ground_frags_per_battle,rb_ground_frags_per_death
count,9096,9096.000000,9096.000000,9096.000000,9096.000000,9096.000000,9096.000000,9096.000000,9096.000000
mean,2025-02-14 19:59:12.506596352,6.656629,8941.572230,940.909538,0.564321,0.081292,0.082280,2.620742,2.077140
min,2025-01-03 00:00:00,1.000000,42.000000,5.400000,0.000000,0.000000,0.000000,0.041958,0.435484
25%,2025-01-21 00:00:00,4.000000,1909.000000,249.038733,0.511107,0.016784,0.016169,1.927726,1.661151
50%,2025-02-11 00:00:00,6.700000,4968.000000,599.992389,0.580167,0.069841,0.067517,2.411957,2.002651
75%,2025-03-10 00:00:00,9.300000,11764.000000,1110.226207,0.627991,0.119100,0.126843,3.123696,2.436410
max,2025-03-31 00:00:00,12.000000,62213.000000,11051.000000,0.849426,0.738555,0.568807,18.562222,4.963773
std,NaN,3.230786,10399.018281,1174.008139,0.101837,0.077925,0.077182,1.185817,0.595568

In [219]:
# Calculate MIN_KPG and MAX_KPG
MIN_KPG = Filtered_df['rb_ground_frags_per_battle'].min()
MAX_KPG = Filtered_df['rb_ground_frags_per_battle'].max()

# Apply scaling
scale_feature = 'rb_ground_frags_per_battle'
Filtered_df[scale_feature] = [(X - MIN_KPG) / (MAX_KPG - MIN_KPG) for X in Filtered_df[scale_feature]]

# Display the scaled data
Filtered_df.describe()

,date,rb_lower_br,rb_battles_sum,rb_battles_mean,rb_win_rate,rb_air_frags_per_battle,rb_air_frags_per_death,rb_ground_frags_per_battle,rb_ground_frags_per_death
count,9096,9096.000000,9096.000000,9096.000000,9096.000000,9096.000000,9096.000000,9096.000000,9096.000000
mean,2025-02-14 19:59:12.506596352,6.656629,8941.572230,940.909538,0.564321,0.081292,0.082280,0.139241,2.077140
min,2025-01-03 00:00:00,1.000000,42.000000,5.400000,0.000000,0.000000,0.000000,0.000000,0.435484
25%,2025-01-21 00:00:00,4.000000,1909.000000,249.038733,0.511107,0.016784,0.016169,0.101822,1.661151
50%,2025-02-11 00:00:00,6.700000,4968.000000,599.992389,0.580167,0.069841,0.067517,0.127968,2.002651
75%,2025-03-10 00:00:00,9.300000,11764.000000,1110.226207,0.627991,0.119100,0.126843,0.166398,2.436410
max,2025-03-31 00:00:00,12.000000,62213.000000,11051.000000,0.849426,0.738555,0.568807,1.000000,4.963773
std,NaN,3.230786,10399.018281,1174.008139,0.101837,0.077925,0.077182,0.064028,0.595568

In [220]:
MIN_KPD = Filtered_df['rb_ground_frags_per_death'].min()
MAX_KPD = Filtered_df['rb_ground_frags_per_death'].max()

# Apply scaling
scale_feature = 'rb_ground_frags_per_death'
Filtered_df[scale_feature] = [(X - MIN_KPD) / (MAX_KPD - MIN_KPD) for X in Filtered_df[scale_feature]]

# Display the scaled data
Filtered_df.describe()

,date,rb_lower_br,rb_battles_sum,rb_battles_mean,rb_win_rate,rb_air_frags_per_battle,rb_air_frags_per_death,rb_ground_frags_per_battle,rb_ground_frags_per_death
count,9096,9096.000000,9096.000000,9096.000000,9096.000000,9096.000000,9096.000000,9096.000000,9096.000000
mean,2025-02-14 19:59:12.506596352,6.656629,8941.572230,940.909538,0.564321,0.081292,0.082280,0.139241,0.362533
min,2025-01-03 00:00:00,1.000000,42.000000,5.400000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2025-01-21 00:00:00,4.000000,1909.000000,249.038733,0.511107,0.016784,0.016169,0.101822,0.270669
50%,2025-02-11 00:00:00,6.700000,4968.000000,599.992389,0.580167,0.069841,0.067517,0.127968,0.346084
75%,2025-03-10 00:00:00,9.300000,11764.000000,1110.226207,0.627991,0.119100,0.126843,0.166398,0.441872
max,2025-03-31 00:00:00,12.000000,62213.000000,11051.000000,0.849426,0.738555,0.568807,1.000000,1.000000
std,NaN,3.230786,10399.018281,1174.008139,0.101837,0.077925,0.077182,0.064028,0.131522

save to file called wrangled_data.csv

In [221]:
Filtered_df.to_csv('../2.Feature Engineering/wrangled_data.csv', index=False)