In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

In [26]:
data_frame = pd.read_csv("rb_ranks_1.csv")


Filtered_df = data_frame[
(data_frame['nation'] == 'USSR') &
(data_frame['rb_lower_br'] == 11.3) &
(data_frame['cls'] == "Ground_vehicles") &
(data_frame['rb_win_rate'] > 5)
]

In [27]:
Filtered_df.isnull().sum()

nation                        0
cls                           0
date                          0
rb_br                         0
rb_lower_br                   0
rb_battles_sum                0
rb_battles_mean               0
rb_win_rate                   0
rb_air_frags_per_battle       0
rb_air_frags_per_death        0
rb_ground_frags_per_battle    0
rb_ground_frags_per_death     0
dtype: int64

In [28]:
print(Filtered_df['rb_win_rate'].describe())
Q1 = Filtered_df['rb_win_rate'].quantile(0.25)
Q3 = Filtered_df['rb_win_rate'].quantile(0.75)
IQR = Q3 - Q1
print(f'Outliers are a rb_win_rate above {Q3 + IQR * 1.5} or below {Q1 - IQR * 1.5}')

count    226.000000
mean      59.338331
std        6.257538
min       45.261091
25%       54.737094
50%       60.094231
75%       63.233940
max       72.676806
Name: rb_win_rate, dtype: float64
Outliers are a rb_win_rate above 75.97920874559574 or below 41.99182462875799

In [29]:
scale_feature = 'rb_win_rate'


#scale features
Filtered_df [scale_feature] = [X / 100 for X in Filtered_df[scale_feature]]

Filtered_df.describe()

/tmp/ipykernel_12772/3379133514.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Filtered_df [scale_feature] = [X / 100 for X in Filtered_df[scale_feature]]

,rb_lower_br,rb_battles_sum,rb_battles_mean,rb_win_rate,rb_air_frags_per_battle,rb_air_frags_per_death,rb_ground_frags_per_battle,rb_ground_frags_per_death
count,226.0,226.000000,226.000000,226.000000,226.000000,226.000000,226.000000,226.000000
mean,11.3,39563.769912,9110.399351,0.593383,0.123114,0.136984,1.705683,1.612007
std,0.0,12322.147442,5149.271591,0.062575,0.051883,0.059230,0.153578,0.173527
min,11.3,19216.000000,3628.551268,0.452611,0.000000,0.000000,1.431823,1.301567
25%,11.3,30456.750000,5574.496767,0.547371,0.124985,0.134041,1.614642,1.502817
50%,11.3,37674.000000,7951.919886,0.600942,0.136839,0.153554,1.692230,1.592634
75%,11.3,48872.250000,10080.592002,0.632339,0.149053,0.163959,1.765888,1.670062
max,11.3,71790.000000,27207.000000,0.726768,0.203202,0.231267,2.100000,2.100000

In [30]:
# Convert the 'date' column to datetime format
Filtered_df['date'] = pd.to_datetime(Filtered_df['date'])

# Find the minimum and maximum dates
min_date = Filtered_df['date'].min()
max_date = Filtered_df['date'].max()

# Convert dates to numeric values (days since epoch)
Filtered_df['date_numeric'] = (Filtered_df['date'] - min_date).dt.days

# Scale the 'date_numeric' column to a range of 0-1
Filtered_df['date_scaled'] = Filtered_df['date_numeric'] / (max_date - min_date).days

Filtered_df.describe()

/tmp/ipykernel_12772/3894739201.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Filtered_df['date'] = pd.to_datetime(Filtered_df['date'])
/tmp/ipykernel_12772/3894739201.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Filtered_df['date_numeric'] = (Filtered_df['date'] - min_date).dt.days
/tmp/ipykernel_12772/3894739201.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Filtered_df['date_scaled'] = Filtered_df['date_numeric'] / (max_date - min_date).days

,date,rb_lower_br,rb_battles_sum,rb_battles_mean,rb_win_rate,rb_air_frags_per_battle,rb_air_frags_per_death,rb_ground_frags_per_battle,rb_ground_frags_per_death,date_numeric,date_scaled
count,226,226.0,226.000000,226.000000,226.000000,226.000000,226.000000,226.000000,226.000000,226.000000,226.000000
mean,2024-02-17 03:04:46.725663744,11.3,39563.769912,9110.399351,0.593383,0.123114,0.136984,1.705683,1.612007,372.128319,0.488357
min,2023-02-10 00:00:00,11.3,19216.000000,3628.551268,0.452611,0.000000,0.000000,1.431823,1.301567,0.000000,0.000000
25%,2023-08-09 18:00:00,11.3,30456.750000,5574.496767,0.547371,0.124985,0.134041,1.614642,1.502817,180.750000,0.237205
50%,2024-02-07 00:00:00,11.3,37674.000000,7951.919886,0.600942,0.136839,0.153554,1.692230,1.592634,362.000000,0.475066
75%,2024-08-19 06:00:00,11.3,48872.250000,10080.592002,0.632339,0.149053,0.163959,1.765888,1.670062,556.250000,0.729987
max,2025-03-13 00:00:00,11.3,71790.000000,27207.000000,0.726768,0.203202,0.231267,2.100000,2.100000,762.000000,1.000000
std,NaN,0.0,12322.147442,5149.271591,0.062575,0.051883,0.059230,0.153578,0.173527,222.132106,0.291512

In [31]:
actualdate = Filtered_df['date']
print()

In [32]:
Filtered_df.to_csv('../2.Feature Engineering/wrangled_data.csv', index=False)